
    <div class="sidebar" data="blue">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    PD
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    PACE DECODER
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'tables' in segment %} active {% endif %}">
                    <a href="/dashboard.html">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="{% if 'simulate' in segment %} active {% endif %} ">
                    <a href="/simulate.html">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Simulate</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
